/* Breakpoints and Touch
--------------------------------------------*/

$tab: 44em;
$tab-wide: 55em;
$desk: 75em;
$desk-xl: 140em;

/* Colours
--------------------------------------------*/

$red: #D21300;
$redHover: #B91000;
$black: #323232;

/* Mixins end
--------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}

/*  TYPOGRAPHY
--------------------------------------------*/

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $black;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    padding-top: 2em;
}
p {
    font-size: 20px;
    margin: 0 0 1em 0;
}

/*  TYPOGRAPHY END
--------------------------------------------*/

.tab-links{
    text-align: center;
    p{
        color: $black;
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        padding: 0.5em 1.2em;
        cursor: pointer;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        position: relative;
        font-size: 18px;
        background: #D8D8D8;
        margin: 0 0.5em;
        border-radius: 3px;
        &.current{
            color: #fff;
            background: $black;
        }
    }
}
.tab-section{
    .tab-content{
        display: none;
        &.current{
            display: block;
            margin-top: 2em;
            text-align: center;
        }    
    }
}

